@tailwind utilities;

* {
  font-family: "Roboto", serif;
}

title {
  @apply block text-2xl font-bold text-center;
}

form {
  @apply flex flex-col gap-8 max-w-lg mx-auto items-center p-8;
}

form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input {
  @apply px-2 py-1 mt-2 mb-1 h-8 min-w-64 rounded-lg border border-solid border-gray-300 shadow-lg;
}

label {
  @apply text-lg font-semibold mr-4 block;
}

button {
  @apply h-10 px-8 text-lg font-bold bg-gray-600 shadow outline-none rounded-md cursor-pointer border border-solid border-gray-400 text-white hover:bg-gray-400;
}

a {
  @apply no-underline hover:bg-gray-400 hover:text-white border-solid border border-gray-400 text-black w-fit p-4 rounded font-medium;
}

.chips {
  @apply border border-gray-800 border-solid rounded p-2;
}

.chips-active {
  @apply bg-green-800 text-white;
}
